body {
  font-family: sans-serif;
}

td {
  border: 1px solid #d0dbed;
  width: 400px;
}

td.tableHeader {
  font-weight: bold;
  text-align: center;
  background: #c3d9ff;
}

td.variableName {
  background: #e1ecfe;
  font-style: italic;
  width: 300px;
}

td.variableValue {
  background: #e1ecfe;
  width: 100px;
  text-align: center;
}
