body {
  font-family: sans-serif;
}

div.vars {
  display: block;
  float: left;
  width: 50%;
}

div.connection {
  display: block;
  float: right;
  width: 50%
}

td {
  border: 1px solid #d0dbed;
  width: 400px;
  font-size: 12px;
}

td.tableHeader {
  font-weight: bold;
  text-align: center;
  background: #c3d9ff;
}

td.variableName {
  background: #e1ecfe;
  font-style: italic;
  width: 75%;
}

td.variableValue {
  background: #e1ecfe;
  width: 25%;
  text-align: center;
}

td.statusConnected {
  color: white;
  text-align: center;
  background: #007700;
}

td.statusDisconnected {
  color: white;
  text-align: center;
  background: #770000;
}
