# This configuration is applied after the toolchain configuration on
# mac platforms

default {
  PLATFORM  := [ MACOS POSIX ANY ]
}

# When building the natives on mac the linker complains about any
# function used from natives, because it is undefined.  Adding this
# flag silences it.
default/natives {
  LINKFLAGS += -undefined dynamic_lookup  
}
