flags (
  name = 'common',
  dialect = ['ansi', 'pedantic'],
  warnings = ['all', 'no-unused-parameter', 'no-non-virtual-dtor'],
)

flags (
  name = 'debug',
  extend = 'common',
  defines = ['DEBUG'],
  optimize = 'no',
  debug = 'on',
)

flags (
  name = 'release',
  extend = 'common',
  defines = ['RELEASE'],
  optimize = 'speed',
  debug = 'off',
)
