from os.path import join

flags (
  name = 'common',
  dialect = ['ansi', 'pedantic', 'nologo'],
  codegen = ['no-exceptions', 'no-rtti'],
  warnings = ['all', 'extra', 'no-unused-parameter', 'no-non-virtual-dtor', 'no-initializer-this'],
  defines = ['M%s' % wordsize, toolchain.upper()],
  includepath = [join('pollock', 'src')],
  wordsize = wordsize
)

flags (
  name = 'debug',
  extend = 'common',
  defines = ['DEBUG'],
  optimize = 'no',
  debug = ['store-info', 'runtime-error-checking'],
  link = 'debug-info',
  codegen = 'static-multithread-debug'
)

flags (
  name = 'release',
  extend = 'common',
  defines = ['RELEASE'],
  optimize = 'speed'
)
