flags (
  name = 'common',
  dialect = ['ansi', 'pedantic'],
  codegen = ['no-exceptions', 'no-rtti'],
  warnings = ['all', 'extra', 'no-unused-parameter', 'no-non-virtual-dtor'],
  defines = ['M%s' % wordsize, toolchain.upper()],
  wordsize = wordsize
)

flags (
  name = 'debug',
  extend = 'common',
  defines = ['DEBUG'],
  optimize = 'no',
  debug = 'on',
)

flags (
  name = 'release',
  extend = 'common',
  defines = ['RELEASE'],
  optimize = 'speed',
  debug = 'off',
)
